<div class="bg_grey VH100 ">
  <div class="fg_color container ">
    <!-- Header Section -->
    <div class="row bg_color">
      <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap " style ="width:1260px; ">
        <app-header></app-header>
      </div>
    </div>
    <!-- Patient's List Section along buttons -->
    <div class="row bg_grey_overlay ">
      <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap">
        <div style="min-height: 10vh">
          <div class="container">
            <div class="row">
              <div class="col-xs-8 MT20 ML20" style="right:-378px;">
                <p class="title-update-password">Reset  Password</p>
                <form #resetPasswordForm="ngForm" class="MT20">
                  <div class="row">
                    <div class="form-group MB16 col-xs-6">
                      <label for="password" class="MB10">Old Password</label>
                      <input type="password" class="form-control field_color input-height" id="password" placeholder="Enter Old Password" required
                      [(ngModel)]="model.oldPassword"  name="oldPassword" #oldPassword="ngModel" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$">

                       
                     <!-- <div class="s-wrap" *ngIf="!isOldPassword">
                       <app-loading [loaderClor] ="'#28AFB0'" [isloading]="isloading"></app-loading>
                     </div> -->
                     <!-- <div class="s-wrap" *ngIf="!isloading && isWrongPassword">
                       <span  class="f22 fa fa-times-circle error" aria-hidden="true"></span>
                     </div> -->

                      <!-- <div class="passwordError" *ngIf="password.errors && password.errors.pattern">
                        <div>
                          Please enter a stronger password (atleast 8 characters with one alphabet, one digit and one symbol )
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group MB16 col-xs-6">
                      <label for="Retype Password" class="MB10">New  Password</label>
                      <input type="password" class="form-control field_color input-height" id="confirm_password" placeholder="Enter New Password" required
                      [(ngModel)]="model.newPassword" name="newPassword"  pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" #newPassword="ngModel">

                      <div class="passwordError" *ngIf="newPassword.errors && newPassword.errors.pattern">
                        <div>
                          Please enter a stronger password
                          Must contain at least 8 characters
                          Must contain at least one number
                          Must contain at least one special character (&!@"+-?/%^*) 
                        </div>
                      </div>

                    </div>
                   
                  </div>
                  <div class="row">
                    <div class="form-group MB16 col-xs-6">
                      <label for="hint" class="MB10">Confirm  Password </label>
                      <input type="password" class="form-control field_color input-height" id="hint" placeholder="Enter Confirm Password" required
                      [(ngModel)]="model.confirmPassword" name="confirmPassword">
                    </div>
                  </div>  

                  <div class="s-wrap" *ngIf="isOldPassword ">
                      <div class="alert alert-danger fade in" > 
                        <span class="close" (click)="closeErrorAlert()">x</span> 
                            {{ WrongPasswordMessage }}
                      </div>
                     </div> 

                  <div class="form-group MB16">
                    <button class="btn action-btn3 btn-blue" style="text-align:center;width:15%;" type="submit" (click)="resetPassword(resetPasswordForm)">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>