<!-- <div >
	<h1 > Welcome to Angular App!!</h1>
</div>


<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
  <a [routerLink]="['/login']">Login</a>
</li>

<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
  <a [routerLink]="['/register']">Register</a>
</li> -->

<div class="row bg_color">
  <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap" style ="width:1260px; margin-top: -9px;">
    <nav class="navbar navbar-default topHeader"  >
      <div class="container-fluid" style = "background-color: #58D6CE; margin-left: -33px; margin-right: -32px;" >
      	<div class="navbar-header" style = "margin-top:6px;" >
      		<p><i>Welcome To Library System!</i></p>
      	</div>
	      	<ul class="nav navbar-nav navbar-right">
	      		<div class="btn-group" style ="right:24px; top: 14px; "dropdown>
	      		  <li dropdownToggle type="button" >
	      		    {{currentUser.firstName}} {{currentUser.lastName}} <span class="caret"></span>
	      		  </li>
	      		  <ul *dropdownMenu class="dropdown-menu" role="menu">
	      		    <!-- <div (click) = "resetPassword()"> -->
	      		    <li role="menuitem"><a class="dropdown-item" href = "/resetpassword">Reset Password</a></li>
	      		<!-- </div> -->
	      		    <!-- <li role="menuitem"><a class="dropdown-item" href="#"></a></li> -->
	      		    <li class="divider dropdown-divider"></li>
	      		    <li role="menuitem"><a class="dropdown-item" href="/login">Logout</a>
	      		    </li>
	      		  </ul>
	      		</div>
	      	</ul>
	          <!-- <li class="btn-group" dropdown>
	            <a class="dropdown-toggle P15" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	              {{currentUser.firstName}} {{currentUser.lastName}}
	              <span class="caret"></span>
	            </a>  -->
	            <!-- <ul class="dropdown-menu" role= "menu">
	              <li role="menuitem">
	                <div style="display: table;">
	                  <div class="profile-square-box">{{currentUser.firstName[0]}}
	                  </div>
	                  <div style="color:black;display: table-cell;padding-left: 15px;vertical-align: top;">
	                    <div class="frst-name"> {{currentUser.firstName}}</div>
	                    <div class="email"> {{currentUser.email}}</div>
	                    <div style="margin-top: 5px;">
	                      <button class="btn btn-view-profile" (click)="viewProfile()"> VIEW PROFILE </button>
	                    </div>
	                  </div>
	                </div>
	              </li>
	              <li class="sign-out-wrap">
	                <div class="logout" (click)="resetPassword()">
	                  <i style="font-size: 16px;margin-left: -2px;" class="fa fa-key fa-fw"></i>Reset Password</div>
	                <div class="logout" (click)="logout()">
	                  <i style="font-size: 16px;" class="fa fa-sign-out"></i>Sign Out
	                </div>
	              </li>
	            </ul> -->
	          <!-- </li>
	        </ul>
 -->
	    <ul class="nav navbar-nav navbar-right" style = "margin-right: 25px;" >
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/home']">Home</a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/book']">Book</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/user']">Users</a>
          </li>
          <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/admin/departments']">Departments</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
 </div>