<div class="bg_grey VH100 ">
  <div class="fg_color container ">
		<div class="row bg_color">
		    <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap" style ="width:1260px; ">
		      <app-header></app-header>
		    </div>
		  </div>

		    <div class="row bg_grey_overlay ">
		      <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap">
		        <div style="min-height: 10vh">
		          <div class="row MB20">
		          	 <div class="col-lg-4 col-xs-7 MT20">
		          	  <div class="input-group" style="width:100%;">
		          	    <input [(ngModel)]="searchInput" ngui-auto-complete placeholder="Search By Book Title"
		          	      class="form-control s-field field_color" >
		          	    <div class="input-group-btn">
		          	      <button class="btn btn-primary btn-blue c-btn search_btn" type="submit" >
		          	            <span class="glyphicon glyphicon-search"></span>
		          	          </button>
		          	    </div>
		          	  </div>
		          	</div>
		          	<div class="search-div">
		          	    <label>Sort by</label>&nbsp;
		          	    <select [(ngModel)]="sortByKey">
		          	      <option value="bookId">Book Id</option>
		          	      <option value="bookTitle">Title</option>
		          	      <option value="topic">Topic</option>
		          	      <option value="author">Author</option>
		          	      <option value="cost">Cost</option>
		          	    </select>
		          	  </div>
 		          	<div class="col-lg-offset-6 col-lg-2 col-xs-5 MT20" style="padding-left: 543px; margin-top: -26px;">
		          	  <button class="btn btn-primary action-btn2 btn-blue pull-right" type="button" (click)="createBookDialogue()"> Add Book
		          	  </button>
		          	</div>
		          </div>
		         </div>
		      </div>
		    </div>

		    <div class = "row" >
		     	<div class="col-xs-12 table-responsive">
		    	  <table class="table container-white custom_tbl">
		    	  	<thead>
		    	  	  <tr class="t_header">
		    	  	    <th class="ft_dark width24">BookID</th>
		    	  	    <th class="ft_dark width24">Book Title</th>
		    	  	    <th class="ft_dark width24">Book Category</th>
		    	  	    <th class="ft_dark">Author Name</th>
		    	  	    <th class="ft_dark">Price</th>
		    	  	    <th class="ft_dark">Quantity</th>
		    	  	    <th class="ft_dark">Issued</th>
		    	  	   <!--  <th class="ft_dark">DOB</th>
		    	  	    <th class="ft_dark">phone_number</th> -->
		    		    <th></th>
		    	  	    <th></th>
		    	  	  </tr>
		    	  	</thead>
		    	  	<tbody>
		    	  		<tr *ngFor="let book of books | SearchFilterPipe: searchInput | SortByPipe: sortByKey">
		    	  			<td class = "P16">{{book.bookId}}</td>
		    	  			<td class = "P16">
		    	  				<span class="ft_clour surveyTitle " >
		    	  					{{book.bookTitle}}
		    	  				</span>
		    	  				</td>
		    	  			<td class = "P16">{{book.topic}}</td>
		    	  			<td class = "P16">{{book.author}}</td>
		    	  			<td class = "P16">{{book.cost}}</td>
		    	  			<td class = "P16">{{book.quantity}}</td>
		    	  			<td class = "P16">{{book.issued}}</td>
		    	  			<!-- <td class = "P16">{{user.sex}}</td>
		    	  			<td class = "P16">{{user.date_of_birth}}</td>
		    	  			<td class = "P16">{{user.phone_number}}</td>
 -->
		    	  			<td>
		    	  			  <button class="btn btn-primary action-btn2 btn-blue pull-right" type="button"  (click)="deleteBook(book)">Delete</button>
		    	  			</td>
		    	  			<td>
		    	  				 <button class="btn btn-primary action-btn2 btn-blue pull-right" type="button"  (click)="openBookModal(book)">Update
		    	          </button>
		    	        </td>
		    	        <td>
		    	          <button class="btn btn-primary action-btn2 btn-blue pull-right" type="button" (click)="viewOrder(book)"> Order Book</button>
		    	        </td>
		    	  		</tr>
		    	  	</tbody>
		    		</table>
		    	</div>
		    </div>
		</div>
		<!-- <table>
		    <tr *ngFor="let book of books | SearchFilterPipe: searchInput">
		      <td>
		        <div>
		          <ul>
		            <li><label>Book ID:</label>&nbsp;{{book.bookId}}</li>
		            <li><label>Title:</label>&nbsp;{{book.bookTitle}}</li>
		            <li><label>Topic:</label>&nbsp;{{book.topic}}</li>
		            <li><label>Author:</label>&nbsp;{{book.author}}</li>
		            <li><label>Cost:</label>&nbsp;{{book.cost}}</li>
		          </ul>
		        </div>
		      </td>
		    </tr>
		  </table> -->
	</div>



<div bsModal #createBookModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg update-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Book</h4>
         <div class="MT20">
         	<span class="close" (click)="onCloseHandled()">x</span>
      	 </div>
      	 <div class="MT20" *ngIf="bookError">
      	   <div class="alert alert-danger fade in">
      	      <span class="close" (click)="closeErrorAlert()">x</span> 
      	       {{ BookErrorMessage }}
      	   </div>
      	 </div> 
      </div>
      <div class="modal-body bg_grey_overlay P30" style="min-height: 45vh;">
		    <form  #bookform="ngForm" >
		        <div class="form-group" >
		            <label for="firstName">Book Title</label>
		            <input type="text" class="form-control" name="bookTitle" [(ngModel)]="book.bookTitle"  #bookTitle="ngModel" placeholder = "Book Title" required />
		            <div *ngIf="bookform.submitted && bookTitle.errors" class="error">Book Title is required</div>
		        </div>
		        <div class="form-group" >
		            <label for="lastName">Book Topic</label>
		            <input type="text" class="form-control" name="topic" [(ngModel)]="book.topic" #topic="ngModel" placeholder = "Book Topic" required />
		            <div *ngIf="bookform.submitted && topic.errors" class="help-block">
		            Book Topic is required</div>
		        </div>
		        <div class="form-group" >
		            <label for="author">Author Name</label>
		            <input type="text" class="form-control" name="author" [(ngModel)]="book.author" placeholder="Author Name" #author="ngModel" required />
		            <div *ngIf="bookform.submitted && author.errors" class="help-block">*Book Author is required </div> 
		        </div>
		        <div class="form-group" >
		            <label for="cost">Book Cost</label>
		            <input  type="text"  class="form-control" name="cost" [(ngModel)]="book.cost" placeholder="Book cost" #cost="ngModel" required [pattern] = "numberpattern"  />
		             <div *ngIf="bookform.submitted && cost.errors" class="help-block">*Book cost is required </div>
		             <div *ngIf = "bookform.submitted && !cost.hasError('pattern')"> Only numbers allowed
		             </div> 
		         </div>

		        <div class="form-group" >
		            <label for="quantity">Quantity</label>
		            <input  type="number"  class="form-control" name="quantity" [(ngModel)]="book.quantity"  #quantity="ngModel" required  min ="0"/>
		             <div *ngIf="bookform.submitted && quantity.valid" class="help-block">*Book cost is required </div>
		         </div>
		    </form>

      </div> 
      
      <div class="modal-footer" style="text-align: justify;">
        <button type="button"  class="btn btn-primary" (click) = "submitBook(bookform)">Save</button>
        <button type="button" class="btn btn-default c-btn" style="width:15%" (click)="onCloseHandled()">Close</button>
      </div>
  	</div>
  </div>
 </div>
