.jumbotron{
	padding-top: 7px;
	padding-bottom: 355px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
}

.container{
	padding-left: 8px;
	padding-right: 8px;
	margin-right: auto;
	margin-left: 40px;
}

.navabar-default{
	margin-top: -16px;
	background-color: #337ab7;
}
