<div class="bg_grey VH100 ">
  <div class="fg_color container ">
			<div class="row bg_color">
		    <div class="col-sm-12 col-lg-12 col-md-12 overlay-wrap" style ="width:1260px; ">
		      <app-header></app-header>
		    </div>
			</div>
			<div class="col-md-6 col-md-offset-3">
							  
					<!-- <h1> Hi {{currentUser.firstName}} {{currentUser.lastName}} </h1> -->
							  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							  <a [routerLink]="['/weather']">weather</a>
							</li>

							<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							  <a [routerLink]="['/movies']">Movies</a>
							</li>

								<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							  <a [routerLink]="['/parentview']">parent view</a>
							</li>
							<br>
							<br>		
							
							<div class="MT20" *ngIf="validImage">
							  <div class="alert alert-danger fade in">
							    <span class="close" (click)="closeErrorAlert()">x</span> Uploaded image is not a valid image. Only
							    JPG, PNG image are allowed.
							  </div>
							</div>
							<div>
								<h5> Upload Image </h5>
								<span>{{companion.image.file_name}}</span>
								<!-- <span>{{companion.image.image}}</span> -->
								<input type = "file" accept = "image/*" (change) = handleInputChange($event)> 

							</div>

							<!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							  <a [routerLink]="['/profile']">Profile</a>
							</li>

							<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
							  <a [routerLink]="['/user']">Get all user</a>
							</li> -->


							 
				</div>
	</div>
</div>