<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form  #registerform ="ngForm" >
        <div class="form-group" >
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" placeholder="FirstName" #firstName="ngModel" required minlength="3" maxlength="15" />
            <div *ngIf="firstName.errors && registerform.submitted" class="error">
                  *First Name is required!
            </div>
        </div>
        <div class="form-group" >
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" placeholder="Last Name" #lastName="ngModel" required />
            <div *ngIf="registerform.submitted && lastName.errors" class="error">
                  *Last Name is required!
            </div>
        </div>
        <div class="form-group" >
            <label for="sex">Sex</label>
            <!-- <input type="radio" class="form-control" name="male" value="M" [(ngModel)]="model.sex" #sex="ngModel" required /> -->
            <label class="radio-inline">
            <input style="margin-top:4px;" type="radio" name="male" value="M" [(ngModel)]="model.sex" (click)="model.sex='M'">Male
              </label>
            <label class="radio-inline">
            <input style="margin-top:4px;" type="radio" name="female" value="F" [(ngModel)]="model.sex" (click)= "model.sex='F'">Female
              </label>
        </div>

        <div class="form-group">
            <label for="dob">DOB</label>
            <input type="text" class="form-control" name="dob" [(ngModel)]="model.date_of_birth" placeholder="DD/MM/YY" #dob="ngModel" required />
            <!-- <div *ngIf="f.submitted && !phone_number.valid" class="help-block">*Phone number is required </div> -->
            <!-- <div *ngIf="dob.errors && submitted" class="error">
                DOB is required!
              </div> -->
        </div>
        
        <div class="form-group" >
            <label for="phone_number">Phone number</label>
            <input [textMask]="{mask: mask}" type="text"  class="form-control" name="phone_number" [(ngModel)]="model.phone_number" id="numbersonly" placeholder="Mobile Number" #phone_number="ngModel" (ngModelChange)="validatePhoneNumberLength($event)" required />
            <!-- <div *ngIf="f.submitted && !phone_number.valid" class="help-block">*Phone number is required </div> -->
            <div *ngIf="phone_number.errors && (phone_number.dirty || phone_number.touched || register.submitted)" class="error">
              <div [hidden]="!phone_number.errors.required">
                Phone Number is required!
              </div>
            </div>
            <div *ngIf="showPhoneWar" class="error">
              <p>Please enter 10 digits<p>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="email@gmail.com" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            <!--  <div *ngIf="f.submitted && !email.valid" class="help-block"  >*Email is required</div>  -->
            <div *ngIf="email.errors && registerform.submitted" class="error">
                *Email is required!
            </div>
              <div *ngIf="email.errors && email.errors.pattern">
                Email is invalid
              </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username" #username="ngModel" required />
            <div *ngIf="registerform.submitted && username.errors" class="help-block">*Username is required</div>
        </div>
        <div class="form-group" >
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password" #password="ngModel" required pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"/>
             <div *ngIf="password.errors && password.errors.pattern" class="passwordError">*Password is required(Must contain Atleast 1 Uppercase, 1 Lowercase, 1 special character)</div> 
            <div *ngIf="registerform.submitted && password.errors" class="help-block">*Password is required</div>
        </div>
        <div class="form-group">
        <!-- <div class="MT20" *ngIf="showError">
          <div class="alert alert-danger fade in">
            <span class="close" (click)="closeErrorAlert()">x</span>
              {{ error }}
          </div>
        </div> -->

         <div class="MT20" *ngIf="loading">
          <div class="alert alert-danger fade in">
              {{ msg }}
          </div>
        </div>
            <button [disabled]="loading" class="btn btn-primary" type ="submit" (click)="register(registerform)">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
